#posts-filter .select2-container {
	height: auto;
	min-width: 160px;
	max-width: 100%;
}

#posts-filter .select2-container--default {
	float: left;
	margin-right: 6px;
}

#posts-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

#posts-filter .select2-container--default .select2-selection--single {
	color: #2c3338;
	border-color: #8c8f94;
	border-radius: 3px;
	min-height: 30px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
}