.mb-modal {
	display: grid;
	place-items: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.8);
	z-index: 9999;
	user-select: none;
}

.mb-modal--hidden {
	display: none;
}

.mb-modal__inner {
	width: 600px;
	max-width: 90%;
	background: #fff;
	border-radius: 4px;
}

.mb-modal__header,
.mb-modal__footer {
	padding: 18px 24px;
}

.mb-modal__header {
	border-bottom: 1px solid #f0f0f0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}

.mb-modal__body {
	padding: 24px;
}

.mb-modal__caption {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
}

.mb-modal__warning {
	font-style: italic;
	color: #b32d2e;
	margin-top: 8px;
}

.mb-modal__choices {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.mb-modal__footer {
	border-top: 1px solid #f0f0f0;
}
.mb-modal__footer p {
	margin: 0;
	padding: 0;
}
